.footer {
    grid-area: f;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-around;
  }

.item {
  color:whitesmoke;
  padding: 10px;
  font-weight: 400;
}

.item a {
  color: whitesmoke;
  text-decoration: none;
}

.items{
  padding-top: 5px;
  color: #666;
}