.header {
    grid-area: h;
    background-color: #fff;
    border: 1px solid #666;
    box-shadow: 1px 1px 1px 1px #666;
}

.item {
  color: black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 8px;
}

.item a {
  color: black;
  text-decoration: none;
}